<div class="row navbar navbar-default">
   <div class="col-xs-12">
            <ul class="nav nav-pills">
                <li role="presentation"> <a href="">Home</a> </li>
                <li role="presentation"> <a href="gallery.html">Gallery</a> </li>
                <li role="presentation"> <a href="links.html">B'Links</a> </li>
                <li role="presentation"> <a href="./blog">BSADD Blog</a> </li>
                <li role="presentation"> <a href="http://connect.bsadd.org">BSADD Connect</a> </li>
            </ul>
        </div>
    </div>
</div>

