<a name="activities"> </a> <!--  link for sidebar -->
<div class="panel content-panel table-responsive">
    <h2> Activities </h2>
    <a href="gallery.html#lg=session4&slide=3"><img class="image-responsive pull-right" src="static/thumb/class_tb.jpg" /> </a>
    <table id="activities-table" class="table table-hover">
        <tr>
            <td><b>10th May, 2012</b></td>
            <td>
                First Session of BSADD
                <ul>
                    <li>Inauguration of BSADD by Department Head</li>
                    <li>Surprise event - Buggy BUET, An web application to find the bugs and system vulnerabilities</li>
                    <li>Session on Software Development Best Practices, Conventions and Architectures</li>
                    <li>Session on User Experience Engineering</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td><b>17th May, 2012</b></td>
            <td>Html and CSS training session for Beginners</td>
        </tr>
        <tr>
            <td><b>17th May, 2012</b></td>
            <td>Practice contest</td>
        </tr>
        <tr>
            <td><b>26th May, 2012</b></td>
            <td>Introductory Workshop on Java Frameworks by Sayem Ahmed, Sr. Software Engineer, Impulse BD Ltd.</td>
        </tr>
        <tr>
            <td><b>7th June, 2012</b></td>
            <td>Database training session</td>
        </tr>
        <tr>
            <td><b>14th June, 2012</b></td>
            <td>PHP Frameworks (CodeIgniter) training session</td>
        </tr>
        <tr>
            <td><b>14th June, 2012</b></td>
            <td>Working with Database in Java</td>
        </tr>
        <tr>
            <td><b>17th June, 2012</b></td>
            <td>HTML/CSS training session and Practice sessions on Java</td>
        </tr>
        <tr>
            <td><b>28th June, 2012</b></td>
            <td>1st Intra-Department System Design and Development Contest</td>
        </tr>
        <tr>
            <td><b>8th September, 2012</b></td>
            <td>Session on Basic MVC with Java</td>
        </tr>
        <tr>
            <td><b>8th September, 2012</b></td>
            <td>Training session Unit Testing in PHP</td>
        </tr>
        <tr>
            <td><b>3rd November, 2012</b></td>
            <td>Windows 8 and Windows Phone Apps Development session by Microsoft Bangladesh</td>
        </tr>
        <tr>
            <td><b>28th January, 2013</b></td>
            <td>Introducing Open Web Technologies & Firefox OS for smartphone by Mozilla Bangladesh</td>
        </tr>
        <tr>
            <td><b>14th January, 2013</b></td>
            <td>Session on Software Architecture & Prototyping with Mock UI</td>
        </tr>
        <tr>
            <td><b>March, 2013</b></td>
            <td>Inter University System Analysis Design and Development Contest on CSE Festival 2013</td>
        </tr>
        <tr>
            <td><b>5th May 2013</b></td>
            <td>Session on Web Service (REST + SOAP)</td>
        </tr>
        <tr>
            <td><b>21st January, 2014</b></td>
            <td>Session on Android Database & Webservice</td>
        </tr>
        <tr>
            <td><b>7th March, 2014</b></td>
            <td>The Mobile Application Hackathon: Codehub</td>
        </tr>
        <tr>
            <td><b>26 august, 2014</b></td>
            <td>Seminar on Python Programming</td>
        </tr>
        <tr>
            <td><b>2nd September, 2014</b></td>
            <td>Session for Microsoft Imagine Cup 2015 Preparation</td>
        </tr>
        <tr>
            <td><b>8th May, 2015</b></td>
            <td>Kona Software Lab Ltd. Inter University System Design and Development Contest on CSE Festival 2015</td>
        </tr>
        <tr>
            <td><b>30th March, 2016</b></td>
            <td>
                BSADD presents <a href="https://sites.google.com/site/droidworkshop2016/home">Android Workshop 2016</a>. A big applause to Onix Haque for maintaing all the <a href="https://sites.google.com/site/droidworkshop2016/tools">tools</a> and <a href="https://sites.google.com/site/droidworkshop2016/resources">resources</a> so nicely on the website. Within five day schedule following topics are covered -
                <ul>
                    <li>Day 1 - <a href="https://sites.google.com/site/droidworkshop2016/design">UI and UX Design</a> by Onix Haque</li>
                    <li>Day 2 - <a href="https://sites.google.com/site/droidworkshop2016/listview">Android ListView</a> by Onix Haque</li>
                    <li>Day 3 - <a href="https://sites.google.com/site/droidworkshop2016/sqlite">SQLite Database</a> by E. M. Wasifur Rahman</li>
                    <li>Day 4 - <a href="https://sites.google.com/site/droidworkshop2016/asynctask">AsyncTask</a> by Shabab Shahriar Khan</li>
                    <li>Day 5 - <a href="https://sites.google.com/site/droidworkshop2016/volley">Volley Framework</a> by Onix Haque</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td><b>6th February, 2017</b></td>
            <td><a href="http://connect.bsadd.org/workplacereport2016/">Workplace environment survey, 2017</a> published by <a href="http://connect.bsadd.org" class="label label-warning">BSADD Connect</a>  </td>
        </tr>
        <tr>
            <td><b>13th February, 2017</b></td>
            <td>CSE BUET Alumni stepped forward to volunteer on helping common queires regarding universities / companies. <a href="http://connect.bsadd.org">BSADD Connect</a> happily presents you the <a href="http://connect.bsadd.org/ambassador_2017.html">alumni list </a>.</td>
        </tr>
    </table>
</div>

