<a name="members"> </a> <!--  link for sidebar -->
<div class="panel content-panel">
    <h2>Members</h2>
    <a href="gallery.html#lg=sddc1&slide=7"> <img class="image-responsive pull-right" src="static/thumb/members_tb.jpg" /> </a>
    <br/>
    <h4>Faculty Members</h4>
    <ul>
        <li><a href="http://cse.buet.ac.bd/faculty/facdetail.php?id=asmlatifulhoque"> Dr. Abu Sayed Md. Latiful Hoque, Professor </a> </li>
        <li><a href="http://cse.buet.ac.bd/faculty/facdetail.php?id=nshahriar"> Nashid Shahriar, Assistant Professor</a></li>
        <li><a href="http://cse.buet.ac.bd/faculty/facdetail.php?id=sayeedmondol">Md. Abu Sayeed Mondol, Assistant Professor</a></li>
        <li><a href="http://cse.buet.ac.bd/faculty/facdetail.php?id=webtonmoy">Hasan Shahid Ferdous, Assistant Professor</a></li>
        <li><a href="http://cse.buet.ac.bd/faculty/facdetail.php?id=mmrahman">Md. Mustafizur Rahman, Assistant Professor</a></li>
        <li><a href="https://www.linkedin.com/pub/md-mahbubul-hasan"> Mahbubul Hasan, Lecturer</a></li>
        <li><a href="http://cse.buet.ac.bd/faculty/facdetail.php?id=sunnysajjad">Sajjadur Rahman, Lecturer</a></li>
        <li><a href="http://cse.buet.ac.bd/faculty/facdetail.php?id=aashik"> Md. Aashikur Rahman Azim, Lecturer</a></li>
        <li><a href="http://cse.buet.ac.bd/faculty/facdetail.php?id=azadsalam"> Abdus Salam Azad, Lecturer</a></li>
    </ul>
    <br/>


    <h4>Co-Ordinators from 2007 batch</h4>
    <ul>
        <li> <a href="https://bd.linkedin.com/in/shafiulazam">Shafiul Azam</a> </li>
        <li> <a href="https://bd.linkedin.com/in/imranhasanhira">Md Imran Hasan Hira</a> </li>
        <li> <a href="https://bd.linkedin.com/in/anytimeir">Ibrahim Rashid</a> </li>
        <li> <a href="https://bd.linkedin.com/in/dipranjandas">Dipranjan Das</a> </li>
        <li> <a href="https://bd.linkedin.com/pub/md-enzam-hossain/14/483/868">Md Enzam Hossain</a> </li>
        <li> <a href="https://www.linkedin.com/pub/a-b-m-faisal/21/484/a62">A. B. M. Faisal</a> </li>
        <li> <a href="https://bd.linkedin.com/pub/tarequl-islam/86/a82/795">Tarequl Islam Sifat</a> </li>
        <li> <a href="https://bd.linkedin.com/in/kazinasiruddinoly">Kazi Nasir Uddin Oly</a> </li>
        <li> <a href="https://bd.linkedin.com/pub/md-tarik-mahmud/61/75a/510">Md Tarik Mahmud</a> </li>
        <li> <a href="https://bd.linkedin.com/in/immehedi">Mehedi Hasan Khan</a> </li>
        <li> <a href="https://bd.linkedin.com/pub/mushfiq-rahman/40/a24/504">Mushfiqur Rahman</a> </li>
        <li>Mamunoor Rashid</li>

    </ul>
    <br/>

    <h4>Co-Ordinators from 2008 batch</h4>
    <ul>
        <li> <a href="https://bd.linkedin.com/in/maksudc">Maksud Alam Chowdhury</a> </li>
        <li> <a href="https://bd.linkedin.com/in/tanjimhossainsifat">MD. Tanjim Hossain</a> </li>
        <li> <a href="https://bd.linkedin.com/pub/a-t-m-saleh/53/83b/b01">A. T. M. Saleh</a> </li>
        <li> <a href="https://bd.linkedin.com/pub/tanbir-sagar/65/855/936">Tanbir Sagar</a> </li>
        <li> <a href="https://bd.linkedin.com/in/rabbialam">Rabbi Alam</a> </li>
        <li> <a href="https://bd.linkedin.com/pub/hasan-al-maruf/a1/326/252">Hasan al maruf</a> </li>
        <li> <a href="https://bd.linkedin.com/pub/saad-galib/91/526/440">Saad Galib</a> </li>
        <li> <a href="https://bd.linkedin.com/in/munimdibosh">Abdul Munim Dibosh</a> </li>
        <li>Sadik Ahmed Autonu</li>
    </ul>
    <br/>

    <h4>Co-Ordinators from 2009 batch</h4>
    <ul>
        <li> <a href="https://bd.linkedin.com/pub/shourav-nath/37/348/67">Shourav nath</a> </li>
        <li> <a href="https://bd.linkedin.com/pub/naimul-arif/65/b42/905">Naimul Arif</a> </li>
        <li> <a href="https://www.linkedin.com/in/akhteralamin">Akhter Al Amin Farhan</a> </li>
        <li> <a href="https://bd.linkedin.com/in/sujon335">Saidur Rahman</a> </li>
    </ul>
    <br/>


    <h4>Co-Ordinators from 2010 batch</h4>
    <ul>
        <li> Faysal Hossain </li>
        <li> <a href="https://bd.linkedin.com/in/bashimaislam">Bashima Islam</a> </li>
        <li> <a href="https://bd.linkedin.com/pub/tamzeed-islam/58/648/633">Tamzeed Islam</a> </li>
    </ul>
    <br/>

    <h4>Co-Ordinators from 2011 batch</h4>
    <ul>
        <li> Onix Haque </li>
    </ul>
    <br/>

</div>
