<a name="objectives"> </a> <!-- link for sidebar -->
<div class="panel content-panel">
    <h2>Objectives</h2>
    <hr/>
    <a href="gallery.html#lg=sddc1&slide=1"><img class="image-responsive pull-right" src="static/thumb/motivation.jpg" /></a>
    <ul>
        <li>Creating a competitive and collaborative environment for systems design, analysis & development practice.</li>
        <li>Practical Software Design Challenges & regular contests - thus forming some strong teams for both inter-university software development competitions.</li>
        <li>Launching and contributing to open-source projects.</li>
        <li>Research on application architecture, frameworks, security etc. </li>
        <li>Getting introduced to industry-standard coding -
            <ul>
                <li>Good coding practices</li>
                <li>Collaboration </li>
                <li>Versioning</li>
                <li>Refactoring</li>
                <li>Design patterns & their implementations</li>
                <li>Software security</li>
                <li>Deployment of application and testing</li>
                <li>Object Oriented Programming</li>
                <li>Green coding</li>
                <li>Application architectures</li>
                <li>Software as a service etc.</li>
            </ul>
        </li>
    </ul>
</div>

